## MATRIZ DE RIESGO - CLUSTERING

In [1]:
import pandas as pd
import numpy.random as rnd
import numpy as np

# Cluster 
from scipy.spatial import distance_matrix
from scipy.cluster.vq import vq, kmeans
from scipy.spatial.distance import cdist
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import dendrogram, linkage

# PCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA as sklearnPCA
from sklearn import decomposition
from sklearn import preprocessing

# Graficas
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from itertools import cycle
import seaborn as sns

%matplotlib inline

pd.options.display.float_format = '{:,.3f}'.format
plt.rcParams['figure.figsize'] = (7, 5)

In [2]:
cias = pd.read_excel(r'C:\Users\eangenello\Desktop\Cia_Autom.xlsx')

In [3]:
data = pd.read_excel(r'C:\Users\eangenello\Desktop\Balance 2019-2.xlsx')

In [4]:
data = data.drop('razon_social',1)

In [5]:
data = data.merge(cias, how='inner', on=['cod_cia'])

In [6]:
data.head()

,cod_cia,periodo,cod_subramo,desc_subramo,importe,cod_cuenta,desc_cuenta,nivel,id_padre,razon_social
0,2,2019-2,NaN,NaN,6045512945,1.00.00.00.00.00.00.00,ACTIVO,1,NaN,BERNARDINO RIVADAVIA
1,2,2019-2,NaN,NaN,275225043,1.01.00.00.00.00.00.00,DISPONIBILIDADES,2,1,BERNARDINO RIVADAVIA
2,2,2019-2,NaN,NaN,15113633,1.01.01.00.00.00.00.00,Caja,3,3,BERNARDINO RIVADAVIA
3,2,2019-2,NaN,NaN,15113633,1.01.01.01.00.00.00.00,Caja,4,5,BERNARDINO RIVADAVIA
4,2,2019-2,NaN,NaN,15113633,1.01.01.01.01.00.00.00,Caja,5,7,BERNARDINO RIVADAVIA

In [7]:
data1 = data.pivot_table(index=['cod_cia','razon_social'], values=['importe'], columns=['cod_cuenta'], aggfunc=np.sum)

In [8]:
data1.head()

                                            importe                         \
cod_cuenta                   1.00.00.00.00.00.00.00 1.01.00.00.00.00.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA      6,045,512,945.000        275,225,043.000
25      NORTE                    12,711,923,827.000        206,828,899.000
32      MERIDIONAL                2,798,133,205.000         88,732,127.000
36      FED. PATRONAL            18,239,827,903.000        645,465,707.000
39      TRIUNFO                  11,681,478,262.000         27,753,823.000

                                                                            \
cod_cuenta                   1.01.01.00.00.00.00.00 1.01.01.01.00.00.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA         15,113,633.000         15,113,633.000
25      NORTE                        13,531,299.000         13,531,299.000
32      MERIDIONAL                      740,469.000            740,469.000
36      FED. PATRONAL                45,461,482.000         45,461,482.000
39      TRIUNFO                       3,967,114.000          3,967,114.000

                                                                            \
cod_cuenta                   1.01.01.01.01.00.00.00 1.01.01.01.01.01.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA         15,113,633.000                    nan
25      NORTE                        13,531,299.000                    nan
32      MERIDIONAL                      740,469.000             48,614.000
36      FED. PATRONAL                45,461,482.000                  0.000
39      TRIUNFO                       3,967,114.000                  0.000

                                                                            \
cod_cuenta                   1.01.01.01.01.02.00.00 1.01.01.01.01.03.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA            552,558.000         14,561,075.000
25      NORTE                           532,390.000         12,998,909.000
32      MERIDIONAL                       87,632.000            604,223.000
36      FED. PATRONAL                   189,052.000         45,272,430.000
39      TRIUNFO                         183,672.000          3,783,442.000

                                                                            \
cod_cuenta                   1.01.02.00.00.00.00.00 1.01.02.01.00.00.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA        152,591,329.000        152,591,329.000
25      NORTE                       193,297,600.000        193,297,600.000
32      MERIDIONAL                   42,346,515.000         42,346,515.000
36      FED. PATRONAL               165,006,160.000        165,006,160.000
39      TRIUNFO                      21,872,756.000         21,872,756.000

                                      ...                                   \
cod_cuenta                            ...           5.02.04.04.02.01.00.00
cod_cia razon_social                  ...
2       BERNARDINO RIVADAVIA          ...                              nan
25      NORTE                         ...                              nan
32      MERIDIONAL                    ...                            0.000
36      FED. PATRONAL                 ...                            0.000
39      TRIUNFO                       ...                            0.000

                                                                            \
cod_cuenta                   5.02.04.04.03.00.00.00 5.02.04.04.03.01.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA                    nan                    nan
25      NORTE                                   nan                    nan
32      MERIDIONAL                            0.000                  0.000
36      FED. PATRONAL                         0.000                  0.000
39      TRIUNFO                               0.000                  0.000

                                                                            \
cod_cuenta                   5.02.04.04.04.00.00.00 5.02.04.04.04.50.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA          4,065,502.000          4,065,502.000
25      NORTE                                   nan                    nan
32      MERIDIONAL                  145,436,992.000        145,436,992.000
36      FED. PATRONAL                31,371,973.000         31,371,973.000
39      TRIUNFO                               0.000                  0.000

                                                                            \
cod_cuenta                   5.03.00.00.00.00.00.00 5.03.03.00.00.00.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA                    nan                    nan
25      NORTE                                   nan                    nan
32      MERIDIONAL                            0.000                  0.000
36      FED. PATRONAL                         0.000                  0.000
39      TRIUNFO                               0.000                  0.000

                                                                            \
cod_cuenta                   5.03.03.03.00.00.00.00 5.03.03.03.03.00.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA                    nan                    nan
25      NORTE                                   nan                    nan
32      MERIDIONAL                            0.000                  0.000
36      FED. PATRONAL                         0.000                  0.000
39      TRIUNFO                               0.000                  0.000


cod_cuenta                   5.03.03.03.03.01.00.00
cod_cia razon_social
2       BERNARDINO RIVADAVIA                    nan
25      NORTE                                   nan
32      MERIDIONAL                            0.000
36      FED. PATRONAL                         0.000
39      TRIUNFO                               0.000

[5 rows x 975 columns]

In [9]:
data1['cod']=[data1.iloc[i].name[0] for i in range(len(data1.index))]

In [10]:
data1['Denominacion Corta']=[data1.iloc[i].name[1] for i in range(len(data1.index))]

In [11]:
data1.to_excel(r'C:\Users\eangenello\Desktop\PYTHON\output\data1.xlsx')

In [12]:
data = pd.read_excel(r'C:\Users\eangenello\Desktop\PYTHON\output\data1.xlsx')

In [13]:
cuentas = ['cod_cia', 'Denominacion Corta', '1.00.00.00.00.00.00.00', '1.01.00.00.00.00.00.00',
'1.02.00.00.00.00.00.00', '1.03.00.00.00.00.00.00','1.04.00.00.00.00.00.00', '1.05.00.00.00.00.00.00',
'1.06.00.00.00.00.00.00', '2.00.00.00.00.00.00.00','2.01.00.00.00.00.00.00', '2.02.00.00.00.00.00.00',
'2.03.00.00.00.00.00.00', '2.04.00.00.00.00.00.00','3.00.00.00.00.00.00.00', '3.02.00.00.00.00.00.00',
'3.03.00.00.00.00.00.00', '3.04.00.00.00.00.00.00','3.05.00.00.00.00.00.00']

In [14]:
data.head()

,,importe,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 967,Unnamed: 968,Unnamed: 969,Unnamed: 970,Unnamed: 971,Unnamed: 972,Unnamed: 973,Unnamed: 974,cod,Denominacion Corta
NaN,cod_cuenta,1.00.00.00.00.00.00.00,1.01.00.00.00.00.00.00,1.01.01.00.00.00.00.00,1.01.01.01.00.00.00.00,1.01.01.01.01.00.00.00,1.01.01.01.01.01.00.00,1.01.01.01.01.02.00.00,1.01.01.01.01.03.00.00,1.01.02.00.00.00.00.00,1.01.02.01.00.00.00.00,...,5.02.04.04.03.01.00.00,5.02.04.04.04.00.00.00,5.02.04.04.04.50.00.00,5.03.00.00.00.00.00.00,5.03.03.00.00.00.00.00,5.03.03.03.00.00.00.00,5.03.03.03.03.00.00.00,5.03.03.03.03.01.00.00,nan,NaN
cod_cia,razon_social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
2,BERNARDINO RIVADAVIA,6045512945,275225043,15113633,15113633,15113633,NaN,552558,14561075,152591329,152591329,...,NaN,4065502,4065502,NaN,NaN,NaN,NaN,NaN,2.000,BERNARDINO RIVADAVIA
25,NORTE,12711923827,206828899,13531299,13531299,13531299,NaN,532390,12998909,193297600,193297600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.000,NORTE
32,MERIDIONAL,2798133205,88732127,740469,740469,740469,48614,87632,604223,42346515,42346515,...,0,145436992,145436992,0,0,0,0,0,32.000,MERIDIONAL

In [15]:
data = data[cuentas]
data.head()

KeyError: "['cod_cia' '1.00.00.00.00.00.00.00' '1.01.00.00.00.00.00.00'\n '1.02.00.00.00.00.00.00' '1.03.00.00.00.00.00.00'\n '1.04.00.00.00.00.00.00' '1.05.00.00.00.00.00.00'\n '1.06.00.00.00.00.00.00' '2.00.00.00.00.00.00.00'\n '2.01.00.00.00.00.00.00' '2.02.00.00.00.00.00.00'\n '2.03.00.00.00.00.00.00' '2.04.00.00.00.00.00.00'\n '3.00.00.00.00.00.00.00' '3.02.00.00.00.00.00.00'\n '3.03.00.00.00.00.00.00' '3.04.00.00.00.00.00.00'\n '3.05.00.00.00.00.00.00'] not in index"

In [ ]:
# Quito outliers
data=data[(data['cod_cia']!=389)&(data['cod_cia']!=241)&(data['cod_cia']!=248)]

# Quito cia: LIDERAR MOTOS QUE NO EMITE HACE 3 MESES

data = data[(data['cod_cia']!=858)]

In [ ]:
data.columns

### Dataset Automotor

In [ ]:
data_autom= data.copy()

# Me quedo a parte con la columna de compañias
cias_autom = data_autom['cod_cia'].copy()

# Filtro todo lo que no sea indicadores
data_autom = data_autom.iloc[:, 3:]

data_autom = data_autom.replace(to_replace=np.nan, value=0)

data_autom = data_autom.astype(np.float64)

In [ ]:
# Cantidad de Filas + Cantidad de Columnas

data_autom.shape

### Normalización

In [ ]:
# Metodo máximo minimo

data_autom_norm = pd.DataFrame()

for i in data_autom.columns:
    data_autom_norm[i] = (data_autom[i] - data_autom[i].min()) /(data_autom[i].max() - data_autom[i].min())
    
#data_autom_norm = (data_autom - data_autom.min()) /(data_autom.max() - data_autom.min())

In [ ]:
data_autom_norm.head()

In [ ]:
# Me quedo con los indicadores raíz

autom_model = data_autom_norm.copy()

In [ ]:
autom_model = autom_model.replace(to_replace=np.nan, value=0)

autom_model = autom_model.astype(np.float64)

### Modelo Clustering

#### Método del codo (Elbow Method)
Este método utiliza los valores de la inercia obtenidos tras aplicar el K-means a diferente número de Clusters (desde 1 a N Clusters), siendo la inercia la suma de las distancias al cuadrado de cada objeto del Cluster a su centroide:

<img src=https://jarroba.com/wp-content/uploads/2016/05/kmeans_inercia_jarroba.png>

Una vez obtenidos los valores de la inercia tras aplicar el K-means de 1 a N Clusters, representamos en una gráfica lineal la inercia respecto del número de Clusters. En esta gráfica se debería de apreciar un cambio brusco en la evolución de la inercia, teniendo la línea representada una forma similar a la de un brazo y su codo. El punto en el que se observa ese cambio brusco en la inercia nos dirá el número óptimo de Clusters a seleccionar para ese data set; o dicho de otra manera: el punto que representaría al codo del brazo será el número óptimo de Clusters para ese data set.

In [ ]:
X = pd.DataFrame(autom_model).values

max_k = 10 
K = range(1,max_k)
ssw = []
centroid = [sum(X)/len(X) for i in K]
sst = sum(np.min(cdist(X, centroid, 'euclidean'), axis = 1))


for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(X)
    
    centers = pd.DataFrame(kmeanModel.cluster_centers_)
    labels = kmeanModel.labels_
    
    ssw_k = sum(np.min(cdist(X, kmeanModel.cluster_centers_, "euclidean"), axis = 1))
    ssw.append(ssw_k)

In [ ]:
#Representación del codo
plt.plot(K, ssw, "bx-")
plt.xlabel("k")
plt.ylabel("SSw(k)")
plt.title("La técnica del codo para encontrar el k óptimo")
plt.show()

#### K Means

In [ ]:
# Defino la cantidad de Clusters
n_clusters=5

# Defino el modelo
kmeans = KMeans(n_clusters=n_clusters, random_state=0)

# Aplico el modelo al dataset
clusters = kmeans.fit_predict(autom_model)

# Visualizo la candidad de clusters y centroides
kmeans.cluster_centers_.shape

In [ ]:
# Visualizo el array de clusters
clusters

In [ ]:
# Visualizo las etiquetas del modelo 

kmeans.labels_

In [ ]:
# Convierto las etiquetas en una serie 

md_k = pd.Series(kmeans.labels_)

In [ ]:
# Genero el dataset con los indicadores, los clusters y la compañía para poder identificarlas 

Autom_CM = autom_model.copy()
Autom_CM["clust_k"] = md_k
Autom_CM['cod_cia'] = cias_autom

Autom_CM.head()

In [ ]:
# Veo la frecuencia de los clusters

plt.hist(md_k)

In [ ]:
# Agrego la denominación de la compañía

den_corta = pd.read_excel(r'C:\Users\eangenello\Desktop\PYTHON\input\ART\Dataset_Compañías.xlsx', usecols='A,B')

Autom_CM = Autom_CM.merge(den_corta, how='left', on=['cod_cia'])

Autom_CM.head()

In [ ]:
# Exporto Dataset

Autom_CM.to_excel(r'C:\Users\eangenello\Desktop\PYTHON\output\Cluster Automotor.xlsx', sheet_name='Autom', index=False)

### PCA para graficar

#### Variabilidad a representar

In [ ]:
pca = sklearnPCA().fit(autom_model)
plt.plot(np.cumsum(pca.explained_variance_ratio_))
plt.xlabel('cantidad de componentes')
plt.ylabel('varianza explicada acumulada')

In [ ]:
pca_eval = sklearnPCA(0.80).fit(autom_model)
pca_eval.n_components_

#### Aplico PCA

In [ ]:
# Defino la cantidad de componentes
pca = sklearnPCA(n_components=2)

# Aplico el modelo al dataset
principalComponents = pca.fit_transform(autom_model)

In [ ]:
# Convierto las componentes principales en un dataframe

principalDf = pd.DataFrame(data = principalComponents, columns = ['Principal componente 1', 'Principal componente 2'])

In [ ]:
principalDf.head()

#### Pesos de las componentes principales

In [ ]:
i = np.identity(autom_model.shape[1])
i

In [ ]:
coef = pca.transform(i)
coef

In [ ]:
pd.DataFrame(coef, columns=['PC-1', 'PC-2'], index=autom_model.columns)

#### Visualización de los clusters

In [ ]:
# Le agrego el cluster definido previamente 
finalDf = pd.concat([principalDf, Autom_CM['clust_k']] , axis = 1)
finalDf.head()

In [ ]:
sorted(finalDf['clust_k'].unique())

In [ ]:
# Grafico

fig = plt.figure(figsize = (6,6))
ax = fig.add_subplot(1,1,1) 
ax.set_xlabel('Principal Componente 1', fontsize = 12)
ax.set_ylabel('Principal Componente 2', fontsize = 12)
ax.set_title('2 Componentes PCA', fontsize = 15)


targets = sorted(finalDf['clust_k'].unique())
colors = ['r', 'g', 'b', 'k', 'c']

for target, color in zip(targets,colors):
    indicesToKeep = finalDf['clust_k'] == target
    ax.scatter(finalDf.loc[indicesToKeep, 'Principal componente 1']
               , finalDf.loc[indicesToKeep, 'Principal componente 2']
               , c = color
               , s = 50)
ax.legend(targets)
ax.grid()

#### Jerárquico

In [ ]:
autom_model.head()

In [ ]:
aut_col= Autom_CM.drop({'clust_k', 'cod_cia'},1)
aut_col=aut_col.columns
aut_col

In [ ]:
Autom_MJ= Autom_CM[aut_col]
Autom_MJ.head()

In [ ]:
Autom_MJ= Autom_MJ.set_index('denominacion_corta')
Autom_MJ.head()

In [ ]:
# se unen los dos clusters para los cuales se tenga el menor incremento en el valor total de la suma de los cuadrados de 
# las diferencias, dentro de cada cluster, de cada individuo al centroide del cluster

Z = linkage(Autom_MJ, method="ward")
Z
plt.figure(figsize=(40,10))
plt.title("Dendrograma jerárquico para el Clustering")
plt.xlabel("Companía")
plt.ylabel("Distancia")
dendrogram(Z, labels=Autom_MJ.index, leaf_rotation=90., leaf_font_size=10.0, color_threshold=0.30*5.84)

#color_threshold: puedo establecer un umbral a partir del cual pintar los cluster

plt.savefig(r'C:\Users\eangenello\Desktop\d.png')
plt.show()

In [ ]:
Z[-4:,]