In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
cant_juicios=pd.read_excel(r'C:\Users\eangenello\Desktop\TECNICA\Python\input\AUTOMOTOR\Juicios por ramo.xlsx')

In [19]:
Dataset_compañías=pd.read_excel(r'C:\Users\eangenello\Desktop\TECNICA\Python\input\ART\Dataset_Compañías.xlsx', usecols='A,B')

In [3]:
cant_juicios.head()

,CiaID,Periodo,Juicio Mediacion,Tipo Juicio Mediacion,Ramo - Subramo,cantidad
0,895,Trimestral - 2019-2,JUICIOS,Entrados en el Trimestre,Caución – Otros,1
1,895,Trimestral - 2019-2,MEDIACIONES,Entrados en el Trimestre,Caución – Otros,5
2,888,Trimestral - 2019-2,MEDIACIONES,Entrados en el Trimestre,Vida - Colectivo,3
3,888,Trimestral - 2019-2,MEDIACIONES,Al Inicio del Trimestre,Vida - Colectivo,7
4,878,Trimestral - 2019-2,MEDIACIONES,Acordados / Pagados en el Trimestre,Automotores - Cascos y Otras Cob.,10

In [4]:
# Creo la variable año para que tenga el mismo formato que los demás datasets
cant_juicios['periodo']=[cant_juicios.Periodo.iloc[row][-6:] for row in range(len(cant_juicios.index))]

In [5]:
# Elimino Periodo
cant_juicios=cant_juicios.drop('Periodo',1)

In [6]:
cant_juicios.head()

,CiaID,Juicio Mediacion,Tipo Juicio Mediacion,Ramo - Subramo,cantidad,periodo
0,895,JUICIOS,Entrados en el Trimestre,Caución – Otros,1,2019-2
1,895,MEDIACIONES,Entrados en el Trimestre,Caución – Otros,5,2019-2
2,888,MEDIACIONES,Entrados en el Trimestre,Vida - Colectivo,3,2019-2
3,888,MEDIACIONES,Al Inicio del Trimestre,Vida - Colectivo,7,2019-2
4,878,MEDIACIONES,Acordados / Pagados en el Trimestre,Automotores - Cascos y Otras Cob.,10,2019-2

In [7]:
# Filtro por Juicio
cant_juicios=cant_juicios[(cant_juicios['Juicio Mediacion']=='JUICIOS')]

In [8]:
# Filtro por ramo automotor
cant_juicios=cant_juicios[(cant_juicios['Ramo - Subramo']=='Rs. del Trabajo - Acc. del Trabajo')|(cant_juicios['Ramo - Subramo']=='Rs. del Trabajo - Otros')]

In [9]:
#Agrupo por cantidad
cant_juicios=cant_juicios.pivot_table(index=['CiaID','periodo'], values='cantidad', columns=['Tipo Juicio Mediacion'], aggfunc=np.sum, fill_value=0)

In [10]:
# Creo la variable cod_cia
cant_juicios['cod_cia']=[cant_juicios.iloc[row].name[0] for row in range(len(cant_juicios.index))]

In [11]:
# Creo la variable año
cant_juicios['año']=[cant_juicios.iloc[row].name[1] for row in range(len(cant_juicios.index))]

In [12]:
# Creo la variable Cantidad de Juicios
cant_juicios['Juicios abiertos']=cant_juicios['Al Inicio del Trimestre'] + cant_juicios['Entrados en el Trimestre']

In [13]:
cant_juicios['Juicios cerrados']=cant_juicios['Acordados / Pagados en el Trimestre']

In [24]:
reor=['cod_cia', 'año', 'Juicios abiertos', 'Juicios cerrados' ]
cant_juicios=cant_juicios[reor]

In [26]:
cant_juicios=cant_juicios.merge(Dataset_compañías, how='inner', on='cod_cia')

In [28]:
cias_art=[64,79,254,259,261,348,412,440,605,616,618,619,620,621,624,626,726,862,890,9999]
cant_juicios['cias_art']=[1 if np.isin(cant_juicios.cod_cia.iloc[i],cias_art)==True else 0 for i in range(len(cant_juicios.index))]

cant_juicios=cant_juicios[(cant_juicios.cias_art==1)]

cant_juicios=cant_juicios.drop({'cias_art'}, 1)

In [29]:
cant_juicios.head()

    cod_cia     año  Juicios abiertos  Juicios cerrados denominacion_corta
32       64  2017-4               590                 0           VICTORIA
33       64  2018-1               596                 0           VICTORIA
34       64  2018-2               573                 0           VICTORIA
35       64  2018-3               570                 0           VICTORIA
36       64  2018-4               551                 0           VICTORIA

In [30]:
cant_juicios.to_excel(r'C:\Users\eangenello\Desktop\TECNICA\Python\output\Cantidad de juicios ART SINENSUP.xlsx', index=False)