### Regresión Matriz de indicadores

REGRESION MULTIPLE

In [7]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

%matplotlib inline

#https://www.udemy.com/course/machinelearningpython/learn/lecture/9725454#overview  #Dummyes

In [8]:
matriz=pd.read_excel(r'C:\Users\eangenello\Desktop\Indicadores Matriz de Riesgo (1).xlsx')

In [9]:
matriz= matriz.fillna(0)

In [10]:
matriz.columns

Index(['Segmento', 'Cod Cia', 'DenominacionCorta', 'periodo', 'ind_01',
       'ind_02', 'ind_03', 'ind_04', 'ind_05', 'ind_06', 'ind_08', 'ind_09',
       'ind_10', 'ind_11', 'ind_12', 'ind_13', 'ind_14', 'ind_15', 'ind_16',
       'ind_17', 'ind_18', 'ind_19', 'ind_20', 'ind_21', 'ind_22', 'ind_23',
       'ind_24', 'ind_25', 'ind_26', 'ind_27', 'ind_28', 'ind_29', 'ind_30',
       'ind_31', 'ind_32', 'ind_33', 'ind_34', 'ind_35', 'ind_36', 'ind_37',
       'ind_38', 'ind_39', 'ind_40', 'ind_41', 'ind_42', 'ind_43'],
      dtype='object')

In [11]:
matriz.head()

,Segmento,Cod Cia,DenominacionCorta,periodo,ind_01,ind_02,ind_03,ind_04,ind_05,ind_06,...,ind_34,ind_35,ind_36,ind_37,ind_38,ind_39,ind_40,ind_41,ind_42,ind_43
0,Automotores,2,SMG,2012-3,0.146803,0.139001,0.032215,0.361734,-0.014188,0.804980,...,0.149917,0.279136,0.193382,1.128130,0.654247,0.715473,0.000000,0.591843,0.421782,0.473884
1,Automotores,25,SURA,2012-3,0.169161,0.023642,0.049949,0.426382,-0.014267,0.868305,...,0.203650,0.204828,0.106757,0.992870,0.515578,0.509842,0.000000,10.852803,0.454467,0.477293
2,Automotores,32,BOSTON,2012-3,0.598821,0.120864,0.167596,0.560279,-0.021333,0.709601,...,0.202446,0.206838,0.300986,1.063682,0.576307,0.507125,0.000000,1.788726,0.366989,0.487375
3,Automotores,36,ALLIANZ,2012-3,0.456476,0.343485,0.074563,0.377228,-0.033411,0.660797,...,0.158920,0.224556,0.314846,1.055639,0.560171,0.469580,0.011075,0.647965,0.419682,0.495468
4,Automotores,39,ZURICH ASEGURADORA,2012-3,0.175903,0.079151,0.146605,0.323177,-0.021645,0.668201,...,0.133935,0.300690,0.123949,1.034134,0.524101,0.557524,0.000000,7.553690,0.461257,0.510034

In [12]:
indicadores = matriz[['periodo','ind_01',
       'ind_02', 'ind_03', 'ind_04', 'ind_05', 'ind_06', 'ind_08', 'ind_09',
       'ind_10', 'ind_11', 'ind_12', 'ind_13', 'ind_14', 'ind_15', 'ind_16',
       'ind_17', 'ind_18', 'ind_19', 'ind_20', 'ind_21', 'ind_22', 'ind_23',
       'ind_24', 'ind_25', 'ind_26', 'ind_27', 'ind_28', 'ind_29', 'ind_30',
       'ind_31', 'ind_32', 'ind_33', 'ind_34', 'ind_35', 'ind_36', 'ind_37',
       'ind_38', 'ind_39', 'ind_40', 'ind_41', 'ind_42', 'ind_43']].copy()
cias = matriz[['Cod Cia', 'DenominacionCorta']].copy()

In [13]:
#indicadores['año'] = pd.DatetimeIndex(indicadores['periodo']).year
#ind_new = indicadores.drop(indicadores[indicadores['año'] < 2018].index).copy()
#ind_new = ind_new.drop({'periodo', 'año'},1)

ind_new = indicadores.drop(indicadores[indicadores['periodo'] != '2019-1'].index).copy()

In [14]:
ind_new.head()

,periodo,ind_01,ind_02,ind_03,ind_04,ind_05,ind_06,ind_08,ind_09,ind_10,...,ind_34,ind_35,ind_36,ind_37,ind_38,ind_39,ind_40,ind_41,ind_42,ind_43
1236,2019-1,0.127998,0.068868,0.008017,0.250613,-0.041707,0.850515,0.000000,0.251997,0.000000,...,0.098712,0.264410,0.318644,1.339742,0.823612,0.722917,0.00000,7.592231,0.424091,0.516130
1237,2019-1,0.120786,0.001630,0.009827,0.329481,-0.013960,0.890365,0.000000,0.516701,0.001633,...,0.197024,0.282912,0.137426,1.169053,0.576955,0.582556,0.00000,12.497957,0.544630,0.592098
1238,2019-1,0.168989,0.040879,0.008567,0.270366,-0.056446,0.895406,0.349806,0.112400,0.000000,...,0.303832,0.209175,0.154141,1.221646,0.624270,0.613158,0.00000,9.748229,0.534830,0.597376
1239,2019-1,0.229970,0.062346,0.009422,0.267534,-0.018883,0.852689,0.332760,0.447060,0.097786,...,0.150541,0.186966,0.344065,1.331397,0.892850,0.841229,0.16785,14.842976,0.383124,0.438548
1240,2019-1,0.128802,0.019470,0.043907,0.224814,-0.023404,0.831285,0.384425,0.562162,0.001025,...,0.251481,0.171756,0.100725,0.993827,0.518225,0.573082,0.00000,10.504171,0.433718,0.475602

In [10]:
feature_cols=['ind_16', 'ind_35', 'ind_36', 'ind_20', 'ind_10']

In [11]:
X = ind_new[feature_cols]
Y = ind_new['ind_04']

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3 , random_state=0)

In [15]:
lm = LinearRegression()
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
print('intecep', lm.intercept_)

intecep 0.141596841098

In [17]:
list(zip(feature_cols, lm.coef_))

[('ind_16', 0.39500794843111686),
 ('ind_35', 0.26135795493153136),
 ('ind_36', 0.3809751350915947),
 ('ind_20', -0.1217720979075189),
 ('ind_10', -0.096745169254253749)]

In [ ]:
lm.score(X_train, Y_train)

In [28]:
ind_new['prediction'] = lm.predict(pd.DataFrame(ind_new[X_test.columns]))

In [29]:
ind_new[['ind_04', 'prediction']].head()

        ind_04  prediction
1052  0.280971    0.317100
1053  0.331144    0.235244
1054  0.245575    0.351794
1055  0.212797    0.286234
1056  0.255142    0.195657

In [30]:
SSD = np.sum((ind_new['prediction'] - ind_new['ind_04'])**2)
SSD

1.738685227966788

In [31]:
#RSE = np.sqrt(SSD/len(ind_new)-len(X_pred.columns)-1)
RSE = np.sqrt(SSD/len(ind_new))
RSE

0.079369919738525349

In [32]:
ind_04_mean = np.mean(ind_new['ind_04'])
ind_04_mean

0.2375845734316616

In [33]:
error = RSE / ind_04_mean
print(error*100, '%')

33.40701738 %

In [ ]:
#metrics.accuracy_score(Y_test, prediction)