In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

In [2]:
pd.read_csv(r'C:\Users\eangenello\Desktop\JYM_RAJ_ART.csv')

,ciaid,nro_raj,id_libro,fecha_update,tipo_registro,fecha_registro_raj,juicio_mediacion,tipo_danio,fecha_demanda,fecha_monto,...,moneda,no_seguro,estado_procesal,acum_importes_honorarios_gastos,acumu_importes_relacionado_monto,fecha_cronograma,monto_reservado,ramo_subramo,nro_siniestro,nro_poliza
0,619,1,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-08-05 00:00:00,J,NaN,1999-08-05 00:00:00,1999-08-05 00:00:00,...,NaN,1,7,0.000,9405.000,2013-02-22 15:20:07,0,1.050.01,136454,41375
1,619,2,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1994-08-10 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,186546,4243
2,619,3,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-08-05 00:00:00,...,ARS,1,7,9751.000,25000.000,2013-04-01 00:00:00,0,1.050.01,2649,7491
3,619,4,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1995-02-09 00:00:00,...,NaN,1,7,0.000,0.000,2013-02-22 15:20:07,0,1.050.01,999999999999999,12149
4,619,5,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1995-02-09 00:00:00,...,NaN,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
5,619,6,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-11-07 00:00:00,...,ARS,1,7,nan,2795.000,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
6,619,7,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1998-09-09 00:00:00,...,ARS,1,7,0.000,34021.000,2013-02-22 15:20:07,0,1.050.01,79324,16059
7,619,8,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1999-12-31 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,7030,6862
8,619,9,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1996-05-08 00:00:00,...,ARS,1,7,0.000,0.000,2013-02-22 15:20:07,0,1.050.01,186550,6809
9,619,10,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1998-09-09 00:00:00,...,ARS,1,7,nan,34021.250,2013-04-01 00:00:00,0,1.050.01,79324,16059
10,619,11,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-05-05 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,3175,7276
11,619,12,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-05-08 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,186550,6809
12,619,13,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1999-01-29 00:00:00,...,ARS,1,7,0.000,955.000,2013-02-22 15:20:07,0,1.050.01,186213,17011
13,619,14,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-07-25 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
14,619,15,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1996-03-01 00:00:00,...,ARS,1,7,0.000,8719.000,2013-02-22 15:20:07,0,1.050.01,999999999999999,12149
15,619,16,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1996-08-02 00:00:00,...,ARS,1,7,0.000,5719.000,2013-02-22 15:20:07,0,1.050.01,1026,5059
16,619,17,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-12-13 00:00:00,...,ARS,1,7,nan,16.000,2013-04-01 00:00:00,0,1.050.01,23152,112171
17,619,18,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-06-22 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
18,619,19,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1999-01-29 00:00:00,...,ARS,1,7,nan,955.250,2013-04-01 00:00:00,0,1.050.01,186213,17011
19,619,20,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1997-01-03 00:00:00,...,ARS,1,7,2740.650,15.000,2013-04-01 00:00:00,0,1.050.01,8551,13023
20,619,21,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-03-01 00:00:00,...,ARS,1,7,nan,8719.460,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
21,619,22,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-08-02 00:00:00,...,ARS,1,7,nan,5719.000,2013-04-01 00:00:00,0,1.050.01,1026,5059
22,619,23,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1995-11-15 00:00:00,...,ARS,1,7,20550.000,1316.240,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
23,619,24,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1995-05-31 00:00:00,...,ARS,1,7,nan,1815.000,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
24,619,25,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1995-12-15 00:00:00,...,ARS,1,7,nan,1437.480,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
25,619,26,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1995-09-10 00:00:00,...,ARS,1,7,nan,5042.500,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
26,619,27,402881f5-478e2d78-0147-8e2d92bf-009b,2013-02-22 15:20:07,0,1999-12-31 00:00:00,J,NaN,1999-12-31 00:00:00,1995-06-06 00:00:00,...,ARS,1,7,0.000,723.000,2013-02-22 15:20:07,0,1.050.01,999999999999999,12149
27,619,28,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-10-31 00:00:00,...,ARS,1,7,nan,3000.000,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
28,619,29,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1996-05-05 00:00:00,...,ARS,1,7,nan,nan,2013-04-01 00:00:00,0,1.050.01,0,999999999999999
29,619,30,402881f5-478e2d78-0147-8e2d92bf-009b,2018-10-18 04:07:45,1,1999-12-31 00:00:00,J,L,1999-12-31 00:00:00,1994-01-17 00:00:00,...,ARS,1,7,nan,8322.970,2013-04-01 00:00:00,0,1.050.01,28720,18638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79081,619,203332,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-25 00:00:00,2018-01-18 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,105540,1.050.01,2269001,175967
79082,619,203333,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-25 00:00:00,2019-03-25 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,1742,1.050.01,2353160,180528
79083,619,203334,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2017-06-27 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,176482,1.050.01,0,251153
79084,619,203335,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2018-03-31 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,82479,1.050.01,2353576,511004
79085,619,203336,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2017-06-27 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,176482,1.050.01,0,251153
79086,619,203337,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2017-06-21 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,176482,1.050.01,0,251153
79087,619,203338,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2019-02-01 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,86234,1.050.01,2377713,70966
79088,619,203339,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2018-03-27 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,679248,1.050.01,2284754,452765
79089,619,203340,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2017-12-27 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,2584,1.050.01,2182127,406385
79090,619,203341,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2018-07-16 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,32819,1.050.01,2304420,504461
79091,619,203342,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-30 00:00:00,J,L,2019-07-26 00:00:00,2008-12-16 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,127851,1.050.01,817684,146142
79092,619,203343,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2018-11-29 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,209012,1.050.01,2333543,70153
79093,619,203344,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2019-01-22 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,210015,1.050.01,2361835,535677
79094,619,203345,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2015-09-22 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,1815525,1.050.01,2043684,154798
79095,619,203346,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2016-07-21 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,200655,1.050.01,2133518,154798
79096,619,203347,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2017-03-29 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,1012682,1.050.01,2199967,483640
79097,619,203348,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-29 00:00:00,2017-05-25 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,444066,1.050.01,2213650,161973
79098,619,203349,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2019-05-09 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,10036,1.050.01,2362219,170626
79099,619,203350,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-31 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,112431,1.050.01,2361930,170626
79100,619,203351,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-01 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,471282,1.050.01,2362268,170626
79101,619,203352,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-01 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,134219,1.050.01,2361552,170626
79102,619,203353,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-01 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,153306,1.050.01,2362230,170626
79103,619,203354,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-01 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,139491,1.050.01,2362256,170626
79104,619,203355,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-24 00:00:00,2019-03-28 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,1742,1.050.01,2353677,471704
79105,619,203356,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2018-01-24 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,74290,1.050.01,2270055,488816
79106,619,203357,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-19 00:00:00,2018-09-14 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,125999,1.050.01,2317691,217348
79107,619,203358,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-06-24 00:00:00,2017-10-28 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,82539,1.050.01,2251852,403028
79108,619,203359,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-04 00:00:00,2017-08-10 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,125087,1.050.01,2232583,262241
79109,619,203360,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-17 00:00:00,2018-02-10 00:00:00,...,NaN,1,1,nan,nan,2019-07-01 00:00:00,376441,1.050.01,2273354,418199
79110,619,203361,402881f5-478e2d78-0147-8e2d92bf-009b,2019-08-28 15:06:09,1,2019-07-31 00:00:00,J,L,2019-07-15 00:00:00,2017-12-01 00:00:00,...,ARS,1,1,nan,nan,2019-07-01 00:00:00,141913,1.050.01,2361877,170626

In [3]:
pd.read_csv(r'C:\Users\eangenello\Desktop\{table}_201909111622.csv')

,ciaid,nro_raj,id_libro,fecha_update,tipo_registro,fecha_registro_raj,juicio_mediacion,tipo_danio,fecha_demanda,fecha_monto,...,[1.030.00],[1.030.01],[1.030.02],[1.030.03],[1.080.00],[1.080.01],[1.080.02],[1.080.03],[1.080.04],[1.080.99]
0,163,33865,402881f5-478e2d78-0147-8e2d92bf-0016,2013-02-22 15:20:07,2,2012-12-06 00:00:00,J,C,2012-07-03 00:00:00,2010-12-16 00:00:00,...,0,0,1,0,0,0,0,0,0,0
1,222,70922,402881f5-478e2d78-0147-8e2d92bf-0085,2019-04-15 13:59:54,1,2018-12-10 00:00:00,J,L,2018-12-07 00:00:00,2017-10-31 00:00:00,...,0,0,1,0,0,0,0,0,0,0
2,222,70925,402881f5-478e2d78-0147-8e2d92bf-0085,2019-04-15 13:59:54,1,2018-12-10 00:00:00,J,L,2018-12-07 00:00:00,2018-07-03 00:00:00,...,0,0,1,0,0,0,0,0,0,0
3,222,70926,402881f5-478e2d78-0147-8e2d92bf-0085,2019-04-15 13:59:54,1,2018-12-10 00:00:00,J,CL,2018-12-07 00:00:00,2017-04-19 00:00:00,...,0,0,1,0,0,0,0,0,0,0
4,352,86970,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-20 00:00:00,J,C,2017-06-27 00:00:00,2015-08-26 00:00:00,...,0,0,1,0,0,0,0,0,0,0
5,352,87068,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-27 00:00:00,J,C,2018-09-13 00:00:00,2018-02-21 00:00:00,...,0,0,1,0,0,0,0,0,0,0
6,352,86943,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-16 00:00:00,J,L,2018-09-18 00:00:00,2016-11-22 00:00:00,...,0,0,1,0,0,0,0,0,0,0
7,352,86831,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-12 00:00:00,J,L,2018-04-06 00:00:00,2016-02-06 00:00:00,...,0,0,1,0,0,0,0,0,0,0
8,352,86832,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-12 00:00:00,J,L,2018-08-10 00:00:00,2017-07-19 00:00:00,...,0,0,1,0,0,0,0,0,0,0
9,39,152438,402881f5-478e2d78-0147-8e2d92bf-009e,2019-04-17 16:33:52,1,2018-09-14 00:00:00,J,L,2017-05-17 00:00:00,2017-05-17 00:00:00,...,0,1,0,0,0,0,0,0,0,0
10,222,71051,402881f5-478e2d78-0147-8e2d92bf-0085,2019-04-15 13:59:54,1,2018-12-20 00:00:00,J,C,2018-12-17 00:00:00,2017-08-19 00:00:00,...,0,0,1,0,0,0,0,0,0,0
11,726,100149,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-07 00:00:00,J,CL,2019-02-28 00:00:00,2018-01-09 00:00:00,...,0,0,1,0,0,0,0,0,0,0
12,726,100125,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-06 00:00:00,J,CL,2019-02-27 00:00:00,2015-09-28 00:00:00,...,0,0,1,0,0,0,0,0,0,0
13,726,100468,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-26 00:00:00,J,L,2019-03-21 00:00:00,2018-12-01 00:00:00,...,0,0,1,0,0,0,0,0,0,0
14,726,100470,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-26 00:00:00,J,CL,2019-03-21 00:00:00,2018-06-20 00:00:00,...,0,0,1,0,0,0,0,0,0,0
15,726,100023,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-02-21 00:00:00,J,CL,2019-02-20 00:00:00,2018-06-06 00:00:00,...,0,0,1,0,0,0,0,0,0,0
16,726,100029,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-02-22 00:00:00,J,CL,2019-02-21 00:00:00,2018-03-16 00:00:00,...,0,0,1,0,0,0,0,0,0,0
17,726,100241,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-12 00:00:00,J,C,2019-03-07 00:00:00,2018-03-26 00:00:00,...,0,0,1,0,0,0,0,0,0,0
18,726,100242,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-12 00:00:00,J,CL,2019-03-07 00:00:00,2016-02-01 00:00:00,...,0,0,1,0,0,0,0,0,0,0
19,726,100108,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-02-27 00:00:00,J,CL,2019-02-26 00:00:00,2017-11-05 00:00:00,...,0,0,1,0,0,0,0,0,0,0
20,726,100506,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-27 00:00:00,J,CL,2019-03-22 00:00:00,2017-10-06 00:00:00,...,0,0,1,0,0,0,0,0,0,0
21,726,100507,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-27 00:00:00,J,CL,2019-03-22 00:00:00,2018-08-30 00:00:00,...,0,0,1,0,0,0,0,0,0,0
22,726,100414,402881f5-478e2d78-0147-8e2d92bf-00ac,2019-04-16 14:58:39,1,2019-03-21 00:00:00,J,CL,2019-03-19 00:00:00,2018-05-16 00:00:00,...,0,0,1,0,0,0,0,0,0,0
23,412,610,402881f5-478e2d78-0147-8e2d92bf-00b5,2014-05-08 16:02:48,1,2013-10-17 00:00:00,J,C,2013-10-17 00:00:00,2013-10-17 00:00:00,...,0,0,1,0,0,0,0,0,0,0
24,163,11917,402881f5-478e2d78-0147-8e2d92bf-0016,2013-02-22 15:20:07,2,2006-06-21 00:00:00,J,L,2006-05-15 00:00:00,2005-07-21 00:00:00,...,0,0,1,0,0,0,0,0,0,0
25,222,71083,402881f5-478e2d78-0147-8e2d92bf-0085,2019-04-15 13:59:54,1,2018-12-27 00:00:00,J,L,2018-12-21 00:00:00,2018-03-28 00:00:00,...,0,0,1,0,0,0,0,0,0,0
26,352,86973,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-21 00:00:00,J,L,2018-11-07 00:00:00,2017-12-26 00:00:00,...,0,0,1,0,0,0,0,0,0,0
27,352,87061,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-27 00:00:00,J,L,2018-04-23 00:00:00,2017-08-10 00:00:00,...,0,0,1,0,0,0,0,0,0,0
28,352,87063,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-27 00:00:00,J,C,2018-09-01 00:00:00,2018-03-13 00:00:00,...,0,0,1,0,0,0,0,0,0,0
29,352,87071,402881f5-478e2d78-0147-8e2d92bf-00a6,2019-04-15 16:11:34,1,2018-11-28 00:00:00,J,C,2018-09-12 00:00:00,2017-06-06 00:00:00,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615275,2,17780,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2017-07-14 00:00:00,J,C,2015-08-24 00:00:00,2017-02-05 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615276,2,13826,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2013-09-17 00:00:00,J,L,2012-10-31 00:00:00,2013-08-15 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615277,2,6174,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2008-06-30 00:00:00,J,C,2008-05-12 00:00:00,2008-07-18 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615278,2,7234,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2008-12-30 00:00:00,J,C,2007-12-17 00:00:00,2008-12-23 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615279,2,16318,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2016-03-11 00:00:00,J,C,2013-10-21 00:00:00,2015-11-30 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615280,2,16319,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2016-03-14 00:00:00,J,C,2015-08-11 00:00:00,2016-06-18 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615281,2,7372,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2009-02-09 00:00:00,J,L,2009-01-27 00:00:00,2010-03-11 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615282,2,5942,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2008-05-12 00:00:00,J,C,2007-07-25 00:00:00,2007-12-07 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615283,2,4734,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2007-09-20 00:00:00,J,C,2007-03-19 00:00:00,2007-11-29 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615284,2,282,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,1995-07-04 00:00:00,J,L,1994-06-12 00:00:00,1995-05-05 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615285,2,17327,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2017-03-14 00:00:00,J,L,2016-05-27 00:00:00,2016-09-12 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615286,352,83653,402881f5-478e2d78-0147-8e2d92bf-00a6,2018-09-18 03:08:56,1,2018-04-10 00:00:00,J,C,2017-11-29 00:00:00,2017-01-19 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615287,2,343,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,1996-07-02 00:00:00,J,M,1995-01-13 00:00:00,1996-06-07 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615288,2,476,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,1997-11-26 00:00:00,J,L,1997-05-15 00:00:00,1997-07-02 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615289,2,514,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,1998-04-14 00:00:00,J,L,1996-10-12 00:00:00,1998-03-03 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615290,2,3548,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2006-11-30 00:00:00,J,C,2005-02-23 00:00:00,2005-11-07 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615291,2,13707,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2013-08-16 00:00:00,J,L,2012-07-27 00:00:00,2013-06-24 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615292,2,10573,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2010-09-20 00:00:00,J,L,2010-06-11 00:00:00,2010-08-31 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615293,2,11644,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2011-06-07 00:00:00,J,L,2010-08-12 00:00:00,2011-05-20 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615294,2,11646,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2011-06-07 00:00:00,J,L,2010-10-19 00:00:00,2011-05-30 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615295,2,15458,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2015-05-26 00:00:00,J,L,2014-12-12 00:00:00,2015-05-08 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615296,2,16678,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2016-07-11 00:00:00,J,C,2015-02-12 00:00:00,2016-06-13 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615297,2,15595,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2015-06-26 00:00:00,J,C,2014-06-06 00:00:00,2015-02-09 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615298,2,17872,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2017-08-16 00:00:00,J,L,2017-07-03 00:00:00,2017-08-02 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615299,2,3322,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2006-10-06 00:00:00,J,L,2006-06-11 00:00:00,2006-11-30 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615300,2,13078,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2012-11-13 00:00:00,J,L,2009-12-24 00:00:00,2012-10-31 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615301,2,12846,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2012-08-28 00:00:00,J,L,2010-12-19 00:00:00,2012-05-15 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615302,2,16414,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2016-04-11 00:00:00,J,C,2015-03-11 00:00:00,2015-11-17 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615303,2,16418,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2016-04-12 00:00:00,J,L,2015-04-24 00:00:00,2016-03-01 00:00:00,...,0,0,1,0,0,0,0,0,0,0
615304,2,6081,402881f5-478e2d78-0147-8e2d92bf-0087,2018-07-06 03:56:11,1,2008-05-30 00:00:00,J,C,2007-12-10 00:00:00,2009-02-26 00:00:00,...,0,0,1,0,0,0,0,0,0,0

In [3]:
data = pd.read_csv(r'C:\Users\eangenello\Desktop\{table}_201909111622.csv',  
                  usecols = ['ciaid', 'nro_raj','juicio_mediacion','tipo_danio','fecha_demanda','monto_demandado','monto_indeterminado',
                            'estado_procesal','[1.030.00]', '[1.030.01]','[1.030.02]', '[1.030.03]', 
                             '[1.080.00]', '[1.080.01]', '[1.080.02]','[1.080.03]', '[1.080.04]', '[1.080.99]'] ,
                   parse_dates = ['fecha_demanda'])

In [4]:
data.head()

,ciaid,nro_raj,juicio_mediacion,tipo_danio,fecha_demanda,monto_indeterminado,monto_demandado,estado_procesal,[1.030.00],[1.030.01],[1.030.02],[1.030.03],[1.080.00],[1.080.01],[1.080.02],[1.080.03],[1.080.04],[1.080.99]
0,163,33865,J,C,2012-07-03,0,85834.000,7,0,0,1,0,0,0,0,0,0,0
1,222,70922,J,L,2018-12-07,0,1448000.000,1,0,0,1,0,0,0,0,0,0,0
2,222,70925,J,L,2018-12-07,0,645200.000,1,0,0,1,0,0,0,0,0,0,0
3,222,70926,J,CL,2018-12-07,0,1345488.000,1,0,0,1,0,0,0,0,0,0,0
4,352,86970,J,C,2017-06-27,0,89341.000,1,0,0,1,0,0,0,0,0,0,0

In [5]:
data.shape

(615305, 18)

In [6]:
data = data[(data['juicio_mediacion'] == 'J')]

In [7]:
data.dtypes

ciaid                           int64
nro_raj                         int64
juicio_mediacion               object
tipo_danio                     object
fecha_demanda          datetime64[ns]
monto_indeterminado             int64
monto_demandado               float64
estado_procesal                 int64
[1.030.00]                      int64
[1.030.01]                      int64
[1.030.02]                      int64
[1.030.03]                      int64
[1.080.00]                      int64
[1.080.01]                      int64
[1.080.02]                      int64
[1.080.03]                      int64
[1.080.04]                      int64
[1.080.99]                      int64
dtype: object

In [8]:
data = data[(data['estado_procesal'] == 1) | (data['estado_procesal'] == 2) | (data['estado_procesal'] == 3)]

In [9]:
data['Juicios'] = np.where( ((data['[1.030.00]'] !=0) | (data['[1.030.01]'] !=0) |(data['[1.030.02]'] !=0) | 
     (data['[1.030.03]'] !=0)) , 1, 0 )

In [10]:
data_autom= data[data['Juicios']==1]
data_autom.head()

,ciaid,nro_raj,juicio_mediacion,tipo_danio,fecha_demanda,monto_indeterminado,monto_demandado,estado_procesal,[1.030.00],[1.030.01],[1.030.02],[1.030.03],[1.080.00],[1.080.01],[1.080.02],[1.080.03],[1.080.04],[1.080.99],Juicios
1,222,70922,J,L,2018-12-07,0,1448000.000,1,0,0,1,0,0,0,0,0,0,0,1
2,222,70925,J,L,2018-12-07,0,645200.000,1,0,0,1,0,0,0,0,0,0,0,1
3,222,70926,J,CL,2018-12-07,0,1345488.000,1,0,0,1,0,0,0,0,0,0,0,1
4,352,86970,J,C,2017-06-27,0,89341.000,1,0,0,1,0,0,0,0,0,0,0,1
5,352,87068,J,C,2018-09-13,0,62715.000,1,0,0,1,0,0,0,0,0,0,0,1

In [11]:
data_autom['raj_cia']= data_autom['ciaid'].apply(lambda x: str(x)) + '-' + data_autom['nro_raj'].apply(lambda x: str(x))

C:\Users\eangenello\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
len(data_autom['raj_cia'].unique())

133442

In [13]:
max(data_autom['fecha_demanda'])

Timestamp('2019-12-21 00:00:00')

In [14]:
data_autom[data_autom['fecha_demanda']>'2019-09-24']

,ciaid,nro_raj,juicio_mediacion,tipo_danio,fecha_demanda,monto_indeterminado,monto_demandado,estado_procesal,[1.030.00],[1.030.01],[1.030.02],[1.030.03],[1.080.00],[1.080.01],[1.080.02],[1.080.03],[1.080.04],[1.080.99],Juicios,raj_cia
68574,348,4749,J,C,2019-12-21,0,480000.000,1,1,0,0,0,0,0,0,0,0,0,1,348-4749

In [15]:
a = data_autom.sort_values(['fecha_demanda'], ascending=True)
a = data_autom.reset_index()
a.head()

,index,ciaid,nro_raj,juicio_mediacion,tipo_danio,fecha_demanda,monto_indeterminado,monto_demandado,estado_procesal,[1.030.00],...,[1.030.02],[1.030.03],[1.080.00],[1.080.01],[1.080.02],[1.080.03],[1.080.04],[1.080.99],Juicios,raj_cia
0,1,222,70922,J,L,2018-12-07,0,1448000.000,1,0,...,1,0,0,0,0,0,0,0,1,222-70922
1,2,222,70925,J,L,2018-12-07,0,645200.000,1,0,...,1,0,0,0,0,0,0,0,1,222-70925
2,3,222,70926,J,CL,2018-12-07,0,1345488.000,1,0,...,1,0,0,0,0,0,0,0,1,222-70926
3,4,352,86970,J,C,2017-06-27,0,89341.000,1,0,...,1,0,0,0,0,0,0,0,1,352-86970
4,5,352,87068,J,C,2018-09-13,0,62715.000,1,0,...,1,0,0,0,0,0,0,0,1,352-87068

In [ ]:
a.groupby()

In [18]:
a.groupby(['ciaid','nro_raj', 'Juicios'], as_index=False)['fecha_demanda'].max()

        ciaid  nro_raj  Juicios fecha_demanda
0           2     1365        1    2002-12-05
1           2     1867        1    2001-07-21
2           2     2346        1    2005-07-08
3           2     2726        1    2005-08-19
4           2     2993        1    2006-06-06
5           2     3014        1    2006-06-27
6           2     3240        1    2006-07-20
7           2     3300        1    2006-08-12
8           2     3328        1    2006-07-20
9           2     3369        1    2006-05-22
10          2     3376        1    2006-09-02
11          2     3551        1    2006-10-11
12          2     3563        1    2006-07-27
13          2     3569        1    2006-08-31
14          2     3665        1    2006-05-28
15          2     3667        1    2006-10-15
16          2     3805        1    2006-12-20
17          2     3865        1    2007-02-13
18          2     3917        1    2007-03-01
19          2     3961        1    2007-02-19
20          2     3994        1    2006-06-30
21          2     4084        1    2005-11-05
22          2     4096        1    2007-03-04
23          2     4169        1    2007-04-05
24          2     4218        1    2006-06-30
25          2     4344        1    2007-03-02
26          2     4380        1    2006-06-30
27          2     4386        1    2006-09-29
28          2     4388        1    2006-06-30
29          2     4392        1    2006-08-31
...       ...      ...      ...           ...
133412    812     2524        1    2014-10-22
133413    812     2559        1    2014-09-23
133414    812     2560        1    2014-07-10
133415    812     2602        1    2014-09-03
133416    812     2604        1    2014-10-01
133417    812     2605        1    2014-10-01
133418    812     2606        1    2014-10-06
133419    812     2607        1    2014-10-03
133420    812     2621        1    2014-03-12
133421    812     2622        1    2014-04-21
133422    812     2623        1    2014-11-05
133423    812     2648        1    2014-11-10
133424    812     2664        1    2014-10-30
133425    812     2665        1    2014-11-10
133426    812     2666        1    2014-10-01
133427    812     2667        1    2014-10-31
133428    812     2671        1    2014-11-05
133429    812     2703        1    2014-10-28
133430    812     2704        1    2014-11-11
133431    812     2722        1    2014-10-03
133432    812     2736        1    2014-08-27
133433    812     2737        1    2014-12-01
133434    812     2757        1    2014-12-03
133435    812     2758        1    2014-10-14
133436    812     2759        1    2014-11-04
133437    812     2761        1    2014-10-29
133438    812     2762        1    2014-07-03
133439    861       24        1    2019-02-23
133440    861       32        1    2019-05-20
133441    861       42        1    2019-07-05

[133442 rows x 4 columns]

In [ ]:
data_autom.shape

In [2]:
max(data_autom['fecha_demanda'])

NameError: name 'data_autom' is not defined

In [57]:
ver = data_autom[data_autom['fecha_demanda']>'2019-06-30']
ver['sumar'] =1

C:\Users\eangenello\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
agrup_ver = ver.groupby(['ciaid'], as_index=False)['sumar'].sum()
agrup_ver

    ciaid  sumar
0      25    112
1      36      3
2      44      3
3     116    143
4     121     13
5     141      1
6     163     50
7     192     27
8     213     33
9     216     14
10    222    192
11    224     10
12    228      1
13    244     35
14    246      8
15    275      1
16    317     33
17    334      5
18    348      1
19    360     31
20    389     54
21    402     49
22    412      1
23    499     16
24    515     83
25    720     16
26    726    557
27    728      2
28    861      1

In [ ]:
df.index.max()

In [34]:
data_autom= data_atom.groupby(['ciaid','año'], as_index=False)["Primas_Emitidas","Primas_Devengadas_Total"].sum()

Empty DataFrame
Columns: [ciaid, juicio_mediacion, tipo_danio, fecha_demanda, monto_indeterminado, monto_demandado, estado_procesal, [1.030.00], [1.030.01], [1.030.02], [1.030.03], [1.080.00], [1.080.01], [1.080.02], [1.080.03], [1.080.04], [1.080.99], ramo]
Index: []

In [43]:
data_atom.columns

Index(['ciaid', 'juicio_mediacion', 'tipo_danio', 'fecha_demanda',
       'monto_indeterminado', 'monto_demandado', 'estado_procesal',
       '[1.030.00]', '[1.030.01]', '[1.030.02]', '[1.030.03]', '[1.080.00]',
       '[1.080.01]', '[1.080.02]', '[1.080.03]', '[1.080.04]', '[1.080.99]',
       'ramo'],
      dtype='object')

In [63]:
data_autom.groupby(['ciaid'], as_index=False)['Juicios'].sum()

    ciaid  Juicios
0       2     9476
1       6       17
2       7       14
3      11     1043
4      25    16473
5      32     6703
6      36    13336
7      39    19092
8      40     1394
9      44     2867
10     57      839
11     64      711
12     79     3520
13     80        2
14     96       23
15    116    16026
16    121     7797
17    136        1
18    141     3660
19    148      127
20    157     5844
21    163    14054
22    192    26573
23    196     1271
24    213    13829
25    216     4197
26    222    44785
27    224     8846
28    228      828
29    236       24
..    ...      ...
43    333      668
44    334      645
45    335     1744
46    348      699
47    352    43431
48    360     1366
49    363      388
50    381      139
51    388      193
52    389     8670
53    396        1
54    402     1720
55    406      498
56    412      240
57    415        5
58    499    26169
59    501    51059
60    515     8165
61    528     1275
62    565    12362
63    581      157
64    662      789
65    682        4
66    716      829
67    720     6883
68    726    55788
69    728       75
70    746     3605
71    812      244
72    861        5

[73 rows x 2 columns]